/* --- Hamburger Menu --- */
.hamburger-menu {
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 102;
	margin-right: 20px; /* Space between hamburger and title */
}

.hamburger-menu .bar {
	width: 100%;
	height: 3px;
	background-color: var(--text-color);
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
}

/* Animation: Turn into X when active */
.hamburger-menu.active .bar:nth-child(1) {
	transform: translateY(8.5px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
	transform: translateY(-8.5px) rotate(-45deg);
}
